<!doctype html>
<html>
    <head>
        <title>Todos API Server</title>
        <style>
            h1  {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Todos API Server</h1>
    </body>
</html>